/* body background */
body {
  background-image: url(coding-background.jpg);
  background-size: 1400px;
}
/* Top header with Name */
h1 {
  color: rgb(40, 160, 201);
  background:  black;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  border: 5px double rgb(40, 160, 201);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
/* horizontal line between head 1 & 2 */
hr {
  height: 4px;
  background: rgb(40, 160, 201);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 28px;
}
/* Second Head with city and state */
h2 {
  color: rgb(40, 160, 201);;
  background: black;
  background-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  border: 5px double rgb(40, 160, 201);;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.884);

}
/* Introduction / love for programming / favorite food */
article {
  text-align: center;
  border: 5px double rgb(40, 160, 201);;
  border-radius: 5px;
  background: black;
  margin-top: 20px;
  padding: 10px;
}
/* h3 heading style */
h3 {
  color: rgb(40, 160, 201);;

}
/* image styling */
.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 5px double  rgb(40, 160, 201);
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);

  
 
  
}
/* paragraph style */
p {
  color: rgb(40, 160, 201);
  padding: 10px;

}
/* unordered list style */
ul {
  color: rgb(40, 160, 201);
  padding-left: 0;
}
ul li {
  list-style-position: inside;
}
/* ordered list style */
ol {
  color: rgb(40, 160, 201);
  list-style-position: inside;
}
/* footer style */
 footer {
  background: black;
  text-align: center;
  border: 5px double rgb(40, 160, 201);;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.884);

 }
 /* interactive links style */
 a {
   color: blue;
 }
 a:link {
   color: blue;
 }
 a:visited {
   color: red;
 }
 a:hover {
   color: green;
 }
 a:active {
   color: white;
 }

